<div class="container">
  <br>
  <br>
  <br>
  <form (ngSubmit)='login()' #loginForm='ngForm' class="form-signin">
    <h1 class="h3 mb-3 font-weight-normal">Login</h1>
    <label for="inputEmail" class="sr-only">Username</label>
    <input type="email" id="inputUsername" class="form-control" placeholder="Username" name="username" #name='ngModel' [(ngModel)]="loginUser.username"  required="" autofocus="">
    <br>
    <br>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="username" #name='ngModel' [(ngModel)]="loginUser.password"  required="">
    <br>

    <button class="btn  btn-primary btn-block" type="submit" style="background-color: black;"><font style="color: white;">Sign In</font></button>
    <a href='/register'>Don't have an account?</a>
  </form>
</div>



